@model GestionProyectos.Models.Empleados

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaContratacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaContratacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuestoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuestoEmpleado.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
